.real img{
    width: 100%;
    transition: 0.5s;
    position: absolute;
    top: 0;
  }

  #langues h2 {
    padding-top: 50px;
    margin: 120px 70px;
    text-align: center;
}
  
  figure{
    height: 250px;
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
  }
   figcaption{
     position: absolute;
     bottom: -80px;
     transition: 1s;
     background: rgba(0, 0, 0, 0.5);
     width: 100%;
     text-align: center;
     color: white;
     padding: 5px 0;
     font-weight: bold;
   }
  
   figure:hover figcaption{
    bottom: 0px;  
   }
  
   figure:hover img{
     transform: rotate(360deg);
     animation: roll 3s;
   }

   @keyframes roll {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }