#interets {
    margin: 180px 70px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

#interets h2 {
    padding-bottom: 50px;
}
#interets button:hover {
    background-color: rgb(255, 255, 255,0.5);
    border: solid 4px rgb(42, 64, 76, 0.5);
    transition: 0.5s;
}

#interets p {
    text-align: center;
    font-size: 20px;
    padding: 20px;
}

.fa-plane-departure:before {
    content: "\f5b0";
    font-size: 150px;
}

.fa-futbol:before {
    content: "\f1e3";
    font-size: 150px;
}